@charset "UTF-8";
container
{
	text-align: center; /*让div内部文字居中*/
    background-color: #eeeeec;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

navigator{
    width:100%;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    background-color:#729fcf;
}

table  
{  
	border-collapse: collapse;  
	margin: 0 auto;  
	text-align: center;  
}  
table td, table th  
{  
	border: 1px solid #cad9ea;  
	color: #666;  
	height: 30px;  
}  
table thead th  
{  
	background-color: #CCE8EB;  
	width: 100px;  
}  
table tr:nth-child(odd)  
{  
	background: #fff;  
}  
table tr:nth-child(even)
{
	background: #F5FAFA;  
} 

h1
{
	display: inline;
}