@charset "UTF-8";
container
{
	position:fixed;
    top:50%;
    left:50%;
    width:100%;
}

navigator{
    width:100%;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    background-color:#729fcf;
}

table  
        {  
            border-collapse: collapse;  
            margin: 0 auto;  
            text-align: center;  
        }  
        table td, table th  
        {  
            border: 1px solid #cad9ea;  
            color: #666;  
            height: 30px;  
        }  
        table thead th  
        {  
            background-color: #CCE8EB;  
            width: 100px;  
        }  
        table tr:nth-child(odd)  
        {  
            background: #fff;  
        }  
        table tr:nth-child(even)  
        {  
            background: #F5FAFA;  
        } 

h1
{
	display: inline;
}